* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0; 
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
    backdrop-filter: blur(10px);
  box-shadow: none;
  padding: 0px 20px;
  z-index: 1000;
  transition: background-color 0.3s ease;
  margin: 0;
      margin-bottom: 38px;

}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
  width: 100px;
}

.bold {
  font-weight: bold;
  font-size: 24px;
  margin-left: 10px;
  color: black;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.get-started-btn {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.nav-links a:hover,
.get-started-btn:hover {
  color: white;
  background-color: red;
}

.content {
  padding: 100px 20px;
}
